---
import Layout from "@/layouts/Layout.astro";
import { siteConfig } from "@/config/site";
import { StickyCards, ServiceLanding } from "@/components/home/HomeComponents";
import RetainerPlansSection from "@/components/RetainerPlan";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title={siteConfig.name} description={siteConfig.description}>
  <div class="min-h-screen">
    <HeroSection />
    <!-- <LogoHero siteConfig={siteConfig} client:load /> -->
    <StickyCards siteConfig={siteConfig} client:load />
    <ServiceLanding siteConfig={siteConfig} client:load />
    {/* Retainer Benefits Section */}
    <RetainerPlansSection client:load />
  </div>
</Layout>
